<h1 class="text-2xl font-bold mb-4">Mesas</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
  <% @tables.each do |table| %>
    <%= link_to table_path(table), class: "block p-4 bg-green-100 border border-green-300 rounded shadow-md text-center hover:bg-green-200 hover:shadow-lg transition" do %>
      <h2 class="text-lg font-semibold">Mesa <%= table.number %></h2>
      <p class="text-sm text-green-700">Status: <%= table.status.capitalize %></p>
    <% end %>
  <% end %>
</div>
